@using Microsoft.AspNetCore.Identity
@using WebApplication_Domain.Entities
@inject UserManager<User> UserManager
@inject IHttpContextAccessor HttpContextAccessor


@{
    var httpUser = HttpContextAccessor.HttpContext.User;
    var currentUser = await UserManager.GetUserAsync(httpUser);
    var displayName = currentUser?.Name ?? httpUser.Identity.Name;
    var profileImg = !string.IsNullOrEmpty(currentUser?.ProfileImagePath)
                          ? currentUser.ProfileImagePath
                          : Url.Content("~/img/undraw_profile.svg");
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kullanıcı Sayfası</title>

    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Kullanıcı Sayfası</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/Admins/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Admin</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Courses/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Kurslar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Appointments/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Randevular</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Messages/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Packages/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Paketler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Kullanıcılar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Mesaj Bildirimleri -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter" id="messageCounter" style="display:none;">0</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown" style="width: 320px;">
                                <h6 class="dropdown-header">Okunmamış Mesajlar</h6>
                                <div id="newMessagesContainer" class="px-2">
                                    <div class="text-center small text-gray-500">Yükleniyor...</div>
                                </div>
                            </div>
                        </li>

                        <!-- Profil Bilgileri -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600">@displayName</span>
                                <img class="img-profile rounded-circle"
                                     src="@profileImg"
                                     style="width:32px; height:32px;" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <a class="dropdown-item" asp-controller="Profile" asp-action="Index">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil Bilgileri
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">

                    @RenderBody()

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>s
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Admin/js/sb-admin-2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>