@model WebApplication_Domain.Entities.Admin

@{
    ViewData["Title"] = "Admin Detay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Detay</h1>

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.AdminName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.AdminName)</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Geri Dön</a>
</div>
